.signup-container
  .signup-top
    .signup-top__head
      %h2.signup-top__head--title 新規会員登録
    .signup-top__form
      .signup-top__form__content
        = link_to '#',class: 'signup-top__form__content__btn signup-top__form__content__email' do
          = fa_icon 'envelope',class: 'signup-top__form__content__btn--icon email-icon'
          = 'メールアドレスで登録する'
        = link_to '#',class: 'signup-top__form__content__btn signup-top__form__content__facebook' do
          = fa_icon 'facebook-square',class: 'signup-top__form__content__btn--icon facebook-icon'
          = 'Facebookで登録する'
        = link_to '#',class: 'signup-top__form__content__btn signup-top__form__content__google' do
          = fa_icon 'google',class: 'signup-top__form__content__btn--icon google-icon'
          = 'Googleで登録する'