- content_for(:html_title) {'ログイン'}
= render partial: 'simple-header'
.signin-container
  .signin-top
    .signin-top__signup
      %p.signin-top__signup__text アカウントをお持ちでない方はこちら
      = link_to '新規会員登録','#',class: 'submit-btn signin-top__signup--btn'
    .signin-top__form
      .signin-top__form__sns
        = link_to '#',class: 'submit-btn signin-top__form__sns__facebook' do
          %i.fab.fa-facebook-square.signin-top__form--icon.signin-top__form--facebook
          = 'Facebookでログイン'
        = link_to '#',class: 'submit-btn signin-top__form__sns__google' do
          %i.fab.fa-google.signin-top__form--icon.signin-top__form--google
          = 'Googleでログイン'
      .signin-top__form__normal
        = email_field :signin,:email, placeholder: 'メールアドレス',class: 'signin-top__form__normal--email default-input'
        = password_field :signin,:password, placeholder: 'パスワード',class: 'signin-top__form__normal--password default-input'
        = text_field :signin,:recapture, placeholder: '私はロボットではありません',class: 'signin-top__form__normal--recapture default-input',disabled: 'disabled' 
        %input.submit-btn.submit-btn-red{type: 'submit',value: 'ログイン'} 
        = link_to 'パスワードをお忘れの方', '',class: 'signin-top__form__normal--link default-link-text'
= render partial: 'simple-footer'