%header
  .box
    .box__top
      .box__top__title
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      .box__top__search
        %form.box__top__search__form
          %input.box__top__search__form__input{:placeholder => "何かお探しですか？", :type => "text"}
          -# = link_to class: "box__top__search__form__input__icon" do
          -# %i fa.fa_icon '\f002', class: "fas fa-search", style: "color:rgb(34, 34, 34)"
    .box__lower
      .box__lower__left
        .box__lower__left__category
          = link_to class: "" do
            %i.fas.fa-list-ul
            カテゴリーから探す
        .box__lower__left__brand
          = link_to "ブランドから探す"
      .box__lower__right
        %ul.box__lower__right__list
          %li.box__lower__right__list__notice
            = link_to class: "" do
              = fa_icon '\f0f3', class: "far fa-bell", style: "color:rgb(204, 204, 204)"
              お知らせ
          %li.box__lower__right__list__todo
            = link_to class: "" do
              = fa_icon '\f00c', class: "fas fa-check", style: "color:rgb(204, 204, 204)"
              やることリスト
          %li.box__lower__right__list__mypage
            マイページ

.main
  .main__announcement
    %ul.main__announcement__pictures
      %li.main__announcement__pictures__picture1
        .main__announcement__pictures__picture1__content

      %li.main__announcement__pictures__picture2
        .main__announcement__pictures__picture2__content

      %li.main__announcement__pictures__picture3
        .main__announcement__pictures__picture3__content
          アイウエオ
    
  .main__categories
    %h2.main__categories__title
      人気のカテゴリー
    .main__categories__tags
      %ul
        %li
          %a(href="")
            プログラミング教本
      %ul
        %li
          %a(href="")
            盆栽
      %ul
        %li
          %a(href="")
            楽器
  = render "/products/index"

  .main__categories
    %h2.main__categories__title
      人気のブランド
    .main__categories__tags
      %ul
        %li
          %a(href="")
            テックエキスパート
      %ul
        %li
          %a(href="")
            テックマスター
      %ul
        %li
          %a(href="")
            テックアカデミー
      %ul
        %li
          %a(href="")
            テック○ースト
      %ul
        %li
          %a(href="")
            ウoブ活
  = render "/products/index"

%footer
  =render "layouts/footer-advertisement"
  %nav
  = render "layouts/footer-black"
  = render "layouts/bottom-camera"