%header
  .box
    .box__top
      .box__top__title
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      .box__top__search
        %form.box__top__search__form
          %input.box__top__search__form__input{:placeholder => "何かお探しですか？", :type => "text"}
          %button
            %i.fas.fa-search

    .box__lower
      .box__lower__left
        .box__lower__left__category
          = link_to class: "" do
            %i.fas.fa-list-ul
            カテゴリーから探す
        .box__lower__left__brand
          = link_to class: "" do
            %i.fas.fa-tag
            ブランドから探す
      .box__lower__right
        %ul.box__lower__right__list
          %li.box__lower__right__list__notice
            = link_to class: "" do
              %i.far.fa-bell
              お知らせ
          %li.box__lower__right__list__todo
            = link_to class: "" do
              %i.fas.fa-check
              やることリスト
          %li.box__lower__right__list__mypage
            = link_to class: "" do
              = image_tag src="https://static.mercdn.net/thumb/members/217956187.jpg?1521954365", size: "134x36"
              マイページ

.main
  .main__announcement
    %ul.main__announcement__pictures
      %li.main__announcement__pictures__picture1
        .main__announcement__pictures__picture1__content

      %li.main__announcement__pictures__picture2
        .main__announcement__pictures__picture2__content

      %li.main__announcement__pictures__picture3
        .main__announcement__pictures__picture3__content
          .main__announcement__pictures__picture3__content__description
            = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "440x390"
            .main__announcement__pictures__picture3__content__description__about
              .main__announcement__pictures__picture3__content__description__about__text1
                スマホで かんたん
                %br
                フリマアプリ
              %p.main__announcement__pictures__picture3__content__description__about__text2
                メルカリはスマホカメラからすぐに出品できる
                %br
                購入時も安心な独自システムのアプリです
              .main__announcement__pictures__picture3__content__description__about__install
                %a{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
                  = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
                %a{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
                  = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"



    

.advertisement
  .advertisement__box
    .advertisement__box__left
      .advertisement__box__left__description
        スマホでかんたんフリマアプリ
      .advertisement__box__left__reminder
        今すぐ無料ダウンロード！
      .advertisement__box__left__logos
        .advertisement__box__left__logos__mercari
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
        .advertisement__box__left__logos__appstore
          .dvertisement__box__left__logos__appstore__image
            = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
        .advertisement__box__left__logos__google
          .advertisement__box__left__logos__google__image
            = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"

    .advertisement__box__image
    = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", size: "300x260"

= render partial: "sakais/footer-black"
