.user-mypage-wrapper
  .user-mypage-wrapper__main
    .user-mypage-wrapper__main__profile
      .user-mypage-wrapper__main__profile__container
        .user-mypage-wrapper__main__profile__container__image
          %img(src="https://static.mercdn.net/images/member_photo_noimage_thumb.png" alt width="60" height="60")/
        .user-mypage-wrapper__main__profile__container__content.bold
          %h2 手区 江来酢羽斗
        .user-mypage-wrapper__main__profile__container__status
          .user-mypage-wrapper__main__profile__container__status__content
            .user-mypage-wrapper__main__profile__container__status__content__name
              評価
            .user-mypage-wrapper__main__profile__container__status__content__number.bold
              100
          .user-mypage-wrapper__main__profile__container__status__content
            .user-mypage-wrapper__main__profile__container__status__content__name__products
              出品数
            .user-mypage-wrapper__main__profile__container__status__content__number.bold
              100
      .user-mypage-wrapper__main__profile__contents.tabs
        .tabs
          %input#notice.user-mypage-wrapper__main__profile__contents__notice{:checked => "checked", :name => "tab_item", :type => "radio"}/
          %label.tab_item{:for => "notice"} お知らせ
          %input#task{:name => "tab_item", :type => "radio"}/
          %label.tab_item.user-mypage-wrapper__main__profile__contents__task{:for => "task"} やることリスト
          #notice_content.tab_content
            .tab_content_description__content
              .tab_content_description__content__image
                %img(data-src="//static.mercdn.net/images/mercari_profile.png" alt="" src="//static.mercdn.net/images/mercari_profile.png" height="60")/
              .tab_content_description__content__body
                .tab_content_description__content__body__message
                  message1
                .tab_content_description__content__body__time
                  = fa_icon "clock"
                  0日前(秒前、分前、時間前)
              .tab_content_description__content__arrow
                = fa_icon 'chevron-right'
            .tab_content_description__content
              .tab_content_description__content__image
                %img(data-src="//static.mercdn.net/images/mercari_profile.png" alt="" src="//static.mercdn.net/images/mercari_profile.png" height="60")/
              .tab_content_description__content__body
                .tab_content_description__content__body__message
                  message1
                .tab_content_description__content__body__time
                  = fa_icon "clock"
                  0日前(秒前、分前、時間前)
              .tab_content_description__content__arrow
                = fa_icon 'chevron-right'
            .tab_content_description__content
              .tab_content_description__content__image
                %img(data-src="//static.mercdn.net/images/mercari_profile.png" alt="" src="//static.mercdn.net/images/mercari_profile.png" height="60")/
              .tab_content_description__content__body
                .tab_content_description__content__body__message
                  message1
                .tab_content_description__content__body__time
                  = fa_icon "clock"
                  0日前(秒前、分前、時間前)
              .tab_content_description__content__arrow
                = fa_icon 'chevron-right'
            .tab_content_description__content
              .tab_content_description__content__image
                %img(data-src="//static.mercdn.net/images/mercari_profile.png" alt="" src="//static.mercdn.net/images/mercari_profile.png" height="60")/
              .tab_content_description__content__body
                .tab_content_description__content__body__message
                  message1
                .tab_content_description__content__body__time
                  = fa_icon "clock"
                  0日前(秒前、分前、時間前)
              .tab_content_description__content__arrow
                = fa_icon 'chevron-right'
            .tab_content_description__content
              .tab_content_description__content__image
                %img(data-src="//static.mercdn.net/images/mercari_profile.png" alt="" src="//static.mercdn.net/images/mercari_profile.png" height="60")/
              .tab_content_description__content__body
                .tab_content_description__content__body__message
                  message1
                .tab_content_description__content__body__time
                  = fa_icon "clock"
                  0日前(秒前、分前、時間前)
              .tab_content_description__content__arrow
                = fa_icon 'chevron-right'
            .tab_content_description__content__back
              .tab_content_description__content__back__message
                %p 一覧を見る
          #task_content.tab_content
            .tab_content_description__task.nothing_image
              現在やることリストはありません。
    .user-mypage-wrapper__main__products
      .user-mypage-wrapper__main__products__title
        %h2 購入した商品
      .tabs2
        %input#trading{:checked => "checked", :name => "tab_item2", :type => "radio"}/
        %label.tab_item2{:for => "trading"} 取引中
        %input#traded{:name => "tab_item2", :type => "radio"}/
        %label.tab_item2{:for => "traded"} 過去の取引
        #trading_content.tab_content
          .tab_content_description.nothing_image
            %p 現在取引している商品がありません。
        #traded_content.tab_content
          .tab_content_description.nothing_image
            %p 過去に取引した商品がありません。
  .user-mypage-wrapper__navi
    .user-mypage-wrapper__navi__menu
      %ul
        %li.head
          マイページ
          %span
            = fa_icon "chevron-right", class:"menu-icon"
        %li
          お知らせ          
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          やることリスト
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          いいね！一覧
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          出品する
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          出品した商品-出品中
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          出品した商品-取引中
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          出品した商品-売却済み
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          購入した商品-取引中
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          購入した商品-過去の取引
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          ニュース一覧
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          評価一覧
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          ガイド
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          お問い合わせ
          = fa_icon "chevron-right", class:"menu-icon"
    .user-mypage-wrapper__navi__merpay
      %h3 メルペイ
      %ul
        %li
          売上・振込申請
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          ポイント
          = fa_icon "chevron-right", class:"menu-icon"
    .user-mypage-wrapper__navi__config
      %h3 設定
      %ul 
        %li
          プロフィール
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          発送元・お届け先住所変更
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          支払い方法
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          メール/パスワード
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          本人情報
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          電話番号の確認
          = fa_icon "chevron-right", class:"menu-icon"
        %li
          ログアウト          
          = fa_icon "chevron-right", class:"menu-icon"
