.main__products
  .main__products__product
    .main__products__product__header
      テックエキスパート新着アイテム
      .main__products__product__header__next
        = link_to "#" do
          もっと見る
          %i.fa.fa-chevron-right
    .main__products__product__contents
      - @products.each do |product|
        .main__products__product__contents__content.effect-fade
          .main__products__product__contents__content__image
            -# ※carrierwaveなどで画像を正方形に加工する必要あり※
            = image_tag "#{product.image}"
            .main__products__product__contents__content__image__price
              = "¥#{product.price}"
          .main__products__product__contents__content__name
            %p= "#{product.title}"
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      -# .main__products__product__contents__content.effect-fade
      -#   .main__products__product__contents__content__image
      -#     -# ※carrierwaveなどで画像を正方形に加工する必要あり※
      -#     = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
      -#     .main__products__product__contents__content__image__price          
      -#       ¥109,892,810
      -#   .main__products__product__contents__content__name
      -#     %p テックエキスパート　新作携帯電話！！！！！！！！！！！

  -# .main__products__product
  -#   .main__products__product__header
  -#     テックエキスパート新着アイテム
  -#     .main__products__product__header__next
  -#       = link_to "#" do
  -#         もっと見る
  -#         %i.fa.fa-chevron-right
  -#   .main__products__product__contents
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  -#     .main__products__product__contents__content.effect-fade
  -#       .main__products__product__contents__content__image
  -#         -# ※carrierwaveなどで画像を正方形に加工する必要あり※
  -#         = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A"
  -#         .main__products__product__contents__content__image__price          
  -#           ¥109,892,810
  -#       .main__products__product__contents__content__name
  -#         %p テックエキスパート　新作携帯電話！！！！！！！！！！！