= render partial: '/signup/simple-header'
.signup-container.sell-container
  = form_for @product, html:{class: "sell-form"} do |f|
    .signup-top
      %h2.signup-header
        商品の情報を入力
    .sell-upload-form
      -# 画像アップロード
      .sell-upload-form__image.sell-container-all-padding.container-border-top
        %p
          = label :image, '出品画像',class: 'sell-upload-label'
          %span.signup-form-container__span.span-need
            必須
        = f.fields_for :product_image do |image|
          .upload-box
            #preview
            = image.label :image, class:"dropzone-box", for: "upload-image" do
              = image.file_field :image, multiple: true, name:'product_image[image][]',class:"input_area dropzone", id:"item-dropzone"
      -# 商品名、商品の説明
      .signup-form-container.registration-form__first-container.sell-container-all-padding.container-border-top
        .signup-form-container__title
          %p
            = label :name, '商品名',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
        = f.text_field :name, placeholder: '商品名（必須40文字まで）', class: 'default-input'
      .signup-form-container.registration-form__first-container.sell-container-side-padding
        .signup-form-container__title
          %p
            = label :text, '商品の説明',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
        = f.text_area :text, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）　2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。 ", class: 'default-input sell-input-area'
      -# 商品の明細
      .sell-container-all-padding.container-border-top.flex
        .sell-container-left
          商品の詳細
        .sell-container-right
          %p
            = label :category_index, 'カテゴリー',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
          .select-wrap
            = f.collection_select(:category_index_id, CategoryIndex.all,:id,:name,{prompt:"---"}, {class: 'default-select sell-select-box'})
            %i.select-arrow.fas.fa-chevron-down

            -# ここにbigcategory,smallcategoryを挿入する

          %p.margin-2rem
            = label :fresh_status, '商品の状態',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
          .select-wrap
            = f.select:fresh_status, ProductFreshness.pluck(:status).unshift('---'),{},{class: 'default-select sell-select-box'}
            %i.select-arrow.fas.fa-chevron-down
      -# 配送について
      .sell-container-all-padding.container-border-top.flex
        .sell-container-left
          %p
            配送について
            = link_to "" do
              %i.fas.fa-question-circle.link-space-reset
        .sell-container-right
          %p
            = label :fee_person, '配送料の負担',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
          .select-wrap
            = select :delivery, :fee_person, DeliverFee.pluck(:fee).unshift('---'),{},{class: 'default-select select-wrap__sell-select-box'}
            %i.select-arrow.fas.fa-chevron-down
          %p.margin-2rem
            = label :from_area, '発送元の地域',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
          .select-wrap
            = select :delivery,:from_area ,['都道府県'],{},{class: 'default-select select-wrap__sell-select-box'}
            %i.select-arrow.fas.fa-chevron-down
          %p.margin-2rem
            = label :sending_day, '発送までの日数',class: 'signup-label'
            %span.signup-form-container__span.span-need 必須
          .select-wrap
            = select :delivery, :sending_day,DeliverDay.pluck(:days).unshift('---'),{},{class: 'default-select select-wrap__sell-select-box'}
            %i.select-arrow.fas.fa-chevron-down
      -# 販売価格
      .sell-container-all-padding.container-border-top.flex
        .sell-container-left.link-space-reset
          %p
            販売価格
            %span.link-space-reset (300~9,999,999)
            = link_to "" do
              %i.fas.fa-question-circle
        .sell-container-right
          .sell-container-right__price-wrapper
            %p
              = label :sell, '価格',class: 'signup-label'
              %span.signup-form-container__span.span-need 必須
            .select-wrap
              = f.select:fresh_status, ProductFreshness.pluck(:status).unshift('---'),{},{class: 'default-select sell-select-box sell-input'}
              %i.select-arrow.fas.fa-chevron-down
        -# 配送について
        = f.fields_for :delivery do |deliver|
          .sell-container-all-padding.container-border-top.flex
            .sell-container-left
              %p
                配送について
                = link_to "" do
                  %i.fas.fa-question-circle.link-space-reset
            .sell-container-right
              %p
                = deliver.label :fee_person, '配送料の負担',class: 'signup-label'
                %span.signup-form-container__span.span-need 必須
              .select-wrap
                = deliver.select :fee_person, DeliverFee.pluck(:fee).unshift('---'),{},{class: 'default-select select-wrap__sell-select-box'}
                %i.select-arrow.fas.fa-chevron-down
              %p.margin-2rem
                = deliver.label :sending_day, '配達の方法',class: 'signup-label'
                %span.signup-form-container__span.span-need 必須
              .select-wrap
                = deliver.select :deliver_way,DeliverWay.pluck(:way).unshift('---'),{},{class: 'default-select select-wrap__sell-select-box'}
                %i.select-arrow.fas.fa-chevron-down
              %p.margin-2rem
                = deliver.label :from_area, '発送元の地域',class: 'signup-label'
                %span.signup-form-container__span.span-need 必須
              .select-wrap
                = deliver.select :from_area ,['都道府県'],{},{class: 'default-select select-wrap__sell-select-box'}
                %i.select-arrow.fas.fa-chevron-down
              %p.margin-2rem
                = deliver.label :sending_day, '発送までの日数',class: 'signup-label'
                %span.signup-form-container__span.span-need 必須
              .select-wrap
                = deliver.select :sending_day,DeliverDay.pluck(:days).unshift('---'),{},{class: 'default-select select-wrap__sell-select-box'}
                %i.select-arrow.fas.fa-chevron-down
        -# 販売価格
        = f.fields_for :price do |price|
          .sell-container-all-padding.container-border-top.flex
            .sell-container-left.link-space-reset
              %p
                販売価格
                %span.link-space-reset (300~9,999,999)
                = link_to "" do
                  %i.fas.fa-question-circle
            .sell-container-right
              .sell-container-right__price-wrapper
                %p
                  = price.label :sell, '価格',class: 'signup-label' do
                    価格
                    %span.signup-form-container__span.span-need 必須
                .sell-container-right__price-wrapper__input
                  %p
                    ¥
                    = price.text_field :sell, placeholder: "例：300", id:"product_price", class: 'default-input price ', style:"text-align:right"
              .sell-container-right__price-fee
                .sell-container-right__price-fee__text
                  %p
                    販売手数料(10%)
                .sell-container-right__price-fee__price
                  %p#price_fee
                    ー
              .sell-container-right__price-benefit
                %h2
                  販売利益
                %h2#price_benefit
                  ー
        -# 説明、出品ボタン
        .sell-container-all-padding.container-border-top
          .sell-container-description
            %p
              = link_to "禁止されている出品", ""
              、
              = link_to "行為", ""
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "偽ブランドの販売", "" 
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "加盟店規約", ""
              に同意したことになります。
          .sell-container-submit
            = f.submit value: "出品する",class: 'submit-btn submit-btn-red user-mypage-wrapper__main__credit__content__btn sell-container-submit__btn'
          .sell-container-back
            %p
              = link_to users_path,class: 'submit-btn submit-btn-gray user-mypage-wrapper__main__credit__content__btn sell-container-back__btn' do
                %span もどる
  = render 'signup/simple-footer'
