= render "/layouts/main-header"

.container
  .container__product-details
    %h1.container__product-details__product-name
      謎の端末
    .container__product-details__main
      .container__product-details__main__images
        .container__product-details__main__images__display
          %ul.container__product-details__main__images__display__up
            %li.container__product-details__main__images__display__up__slide-image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "300x300"
            %li.container__product-details__main__images__display__up__slide-image
              = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "300x300"
            %li.container__product-details__main__images__display__up__slide-image
              = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", size: "300x300"
          %ul.container__product-details__main__images__display__down
            %li.container__product-details__main__images__display__down__thumbnail-image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "60x60"
            %li.container__product-details__main__images__display__down__thumbnail-image
              = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "60x60"
            %li.container__product-details__main__images__display__down__thumbnail-image
              = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", size: "60x60"
      %table.container__product-details__main__detail
        %tbody
          %tr
            %th
              出品者
            %td
              = link_to "名前", ""
              %div.evaluation
                %div
                  %i.far.fa-laugh
                  10
                %div
                  %i.fas.far.fa-meh
                  10
                %div
                  %i.far.fa-sad-tear
                  10
          %tr
            %th
              カテゴリー
            %td.category
              = link_to "" do
                %div.category
                  カテゴリー
              = link_to "" do
                %div.category
                  %i.fas.fa-chevron-right
                  カテゴリー
              = link_to "" do
                %div.category
                  %i.fas.fa-chevron-right
                  カテゴリー 
          %tr
            %th
              ブランド
            %td
              テクエキ
          %tr
            %th
              商品の状態
            %td
              秘密♪
          %tr
            %th
              配送料の負担
            %td
              購入者
          %tr
            %th
              配送の方法
            %td
              歩き
          %tr
            %th
              配送元地域
            %td
              = link_to "都道府県名", ""
          %tr
            %th
              発送日の目安
            %td
              気分次第

    .container__product-details__price
      %span.container__product-details__price__amount
        ¥xxx
      %span.container__product-details__price__tax
        (税込)
      %span.container__product-details__price__delivery-fee
        送料込み
    .container__product-details__message
      .container__product-details__message__money
        売上金¥1.000とP1,000を
        %br
        お持ちです。
    = link_to "購入画面に進む","", class: "container__product-details__purchase-screen-button"

    .container__product-details__product-description
      %p.container__product-details__product-description__inner
        ぼったくり端末です
        購入は自己責任で
        よろ
    .container__product-details__buttons
      .container__product-details__buttons__left
        %button.container__product-details__buttons__left__heart
          %i.far.fa-heart
          %span
            いいね!
          %span
            0
        %button.container__product-details__buttons__left__report
          %i.far.fa-flag
          %span
            不適切な商品の報告

      .container__product-details__buttons__right
        = link_to "" do
          %i.fas.fa-lock
          %span
            あんしん・あんぜんへの取り組み

  .container__comment
    .container__comment__container
      %form.container__comment__container__message-form
        %p.container__comment__container__message-form__attention
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.container__comment__container__message-form__text
        %button.container__comment__container__message-form__comment-btn
          %span
            コメントする

  %ul.container__product-link
    %li.container__product-link__prev
      = link_to "" do
        %i.fas.fa-chevron-left
        前の商品
    %li.container__product-link__next
      = link_to "" do
        次の商品
        %i.fas.fa-chevron-right
        
  .container__social-media
    %ul.container__social-media__box
      %li.container__social-media__box__facebook
        = link_to "" do
          %i.fab.fa-facebook-square.fa-3x
      %li.container__social-media__box__twitter
        = link_to "" do
          %i.fab.fa-twitter-square.fa-3x
      %li.container__social-media__box__line
        = link_to "" do
          %i.fab.fa-line.fa-3x
      %li.container__social-media__box__pinterest
        = link_to "" do
          %i.fab.fa-pinterest-square.fa-3x

  .container__other-products
    .container__other-products__login-user
      %h2.container__other-products__login-user__title
        = link_to "ログインユーザさんのその他の出品", ""
      .container__other-products__login-user__products
        .container__other-products__login-user__products__product
          = link_to "", class:".container__other-products__login-user__products__product__link" do
            %figure.container__other-products__login-user__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__login-user__products__product__link__body
              %h3.container__other-products__login-user__products__product__link__body__name
                商品名
              .container__other-products__login-user__products__product__link__body__num
                .container__other-products__login-user__products__product__link__body__num__price
                  ¥1,000
                .container__other-products__login-user__products__product__link__body__num__heart
                  %i.far.fa-heart
                  %span
                    100
        
        .container__other-products__login-user__products__product
          = link_to "", class:".container__other-products__login-user__products__product__link" do
            %figure.container__other-products__login-user__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__login-user__products__product__link__body
              %h3.container__other-products__login-user__products__product__link__body__name
                商品名
              .container__other-products__login-user__products__product__link__body__num
                .container__other-products__login-user__products__product__link__body__num__price
                  ¥1,000
        
        .container__other-products__login-user__products__product
          = link_to "", class:".container__other-products__login-user__products__product__link" do
            %figure.container__other-products__login-user__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__login-user__products__product__link__body
              %h3.container__other-products__login-user__products__product__link__body__name
                商品名
              .container__other-products__login-user__products__product__link__body__num
                .container__other-products__login-user__products__product__link__body__num__price
                  ¥1,000

    .container__other-products__same-category
      %h2.container__other-products__same-category__title
        = link_to "カテゴリ その他の出品", ""
      .container__other-products__same-category__products
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000
        .container__other-products__same-category__products__product
          = link_to "", class:".container__other-products__same-category__products__product__link" do
            %figure.container__other-products__same-category__products__product__link__image
              = image_tag src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A", size: "220x220"
            .container__other-products__same-category__products__product__link__body
              %h3.container__other-products__same-category__products__product__link__body__name
                商品名
              .container__other-products__same-category__products__product__link__body__num
                .container__other-products__same-category__products__product__link__body__num__price
                  ¥1,000

  %navi.container__bread-crumbs
    %ul.container__bread-crumbs__list
      %li.container__bread-crumbs__list__mercari
        = link_to root_path do
          メルカリ
          %i.fas.fa-chevron-right
      %li.container__bread-crumbs__list__current-product
        %span
          現在の商品名
          
%footer
  =render "layouts/footer-advertisement"
  %nav
  = render "layouts/footer-black"