%header
  .box
    .box__top
      .box__top__title
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      .box__top__search
        %form.box__top__search__form
          %input.box__top__search__form__input{placeholder: "何かお探しですか？", type: "text"}
          %button
            %i.fas.fa-search

    .box__lower
      .box__lower__left
        .box__lower__left__category
          = link_to class: "" do
            %i.fas.fa-list-ul
            カテゴリーから探す
        .box__lower__left__brand
          = link_to class: "" do
            %i.fas.fa-tag
            ブランドから探す
      .box__lower__right
        %ul.box__lower__right__list
          %li.box__lower__right__list__notice
            = link_to class: "" do
              %i.far.fa-bell
              お知らせ
          %li.box__lower__right__list__todo
            = link_to class: "" do
              %i.fas.fa-check
              やることリスト
          %li.box__lower__right__list__mypage
            = link_to class: "" do
              = image_tag src="https://static.mercdn.net/thumb/members/217956187.jpg?1521954365", size: "134x36"
              マイページ