!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title お届け先住所入力 -FreemarketSample58a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.simple-form
    %header.simple-header
      .simple-header__container
        = link_to '#' do
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763',class: 'simple-header__logo'
        .simple-header__navigation
          %ol.simple-header__navigation__list
            %li.simple-header__navigation__list--item.done
              会員情報
              %div.simple-header__navigation__list--status.simple-header__navigation__list--first
            %li.simple-header__navigation__list--item.done
              電話番号認証
              %div.simple-header__navigation__list--status
            %li.simple-header__navigation__list--item.current
              お届け先住所入力
              %div.simple-header__navigation__list--status
            %li.simple-header__navigation__list--item 
              支払い方法
              %div.simple-header__navigation__list--status
            %li.simple-header__navigation__list--item.simple-header__navigation__last
              完了
              %div.simple-header__navigation__list--status.simple-header__navigation__list--last
    = yield
    %footer.simple-footer
      .simple-footer__container
        %ul.simple-footer__list
          %li.simple-footer__list__content
            = link_to 'プライバシーポリシー','#',class: 'simple-footer__list__content--link'
          %li.simple-footer__list__content
            = link_to 'メルカリ利用規約','#',class: 'simple-footer__list__content--link'
          %li.simple-footer__list__content
            = link_to '特定商取引に関する表記','#',class: 'simple-footer__list__content--link'
        = link_to '#',class: 'simple-footer__link' do
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763',class: 'simple-footer__logo'
        %p.simple-footer__text © 2019 Mercari